<a href="https://colab.research.google.com/github/kabirNahata/Learning-journey/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: python dictionary with basic examples

# Creating a dictionary
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Accessing elements
print(my_dict["name"])  # Output: Alice
print(my_dict.get("age")) # Output: 30

# Adding or updating elements
my_dict["occupation"] = "Engineer"
my_dict["age"] = 31
print(my_dict) # Output: {'name': 'Alice', 'age': 31, 'city': 'New York', 'occupation': 'Engineer'}

# Removing elements
del my_dict["city"]
print(my_dict) # Output: {'name': 'Alice', 'age': 31, 'occupation': 'Engineer'}

# Checking for keys
if "name" in my_dict:
    print("Name is present in the dictionary")

# Iterating through the dictionary
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

# Dictionary methods
print(my_dict.keys())    # Output: dict_keys(['name', 'age', 'occupation'])
print(my_dict.values())  # Output: dict_values(['Alice', 31, 'Engineer'])
print(my_dict.items())   # Output: dict_items([('name', 'Alice'), ('age', 31), ('occupation', 'Engineer')])
print(len(my_dict))       # Output: 3

# Creating an empty dictionary
empty_dict = {}
print(empty_dict) # Output: {}

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

In [ ]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [ ]:
my_dict.values()

dict_values(['Alice', 30, 'New York'])

In [ ]:
my_dict['class']

KeyError: 'class'

In [ ]:
my_dict.get('class')

In [ ]:
my_dict.get('class'," CLASS")

' CLASS'

In [ ]:
my_dict

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
my_dict.pop('class')

KeyError: 'class'

In [ ]:
my_dict.items()

dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])

In [ ]:
my_dict.get('city')

'New York'

In [ ]:
my_dict["city"]

'New York'

In [ ]:
my_dict["class"]="9"

In [ ]:
my_dict

{'name': 'Alice', 'age': 30, 'city': 'New York', 'class': '9'}

In [ ]:
my_dict[0]

KeyError: 0

In [ ]:
my_dict[0]="zero"

In [ ]:
my_dict

{'name': 'Alice', 'age': 30, 'city': 'New York', 'class': '9', 0: 'zero'}

In [ ]:
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: Alice
Key: age, Value: 30
Key: city, Value: New York
Key: class, Value: 9
Key: 0, Value: zero

In [ ]:
values = list(my_dict.values())

In [ ]:
values

['Alice', 30, 'New York', '9', 'zero']

## tuple

In [ ]:
t=(1,2,"apple")

In [ ]:
t

(1, 2, 'apple')

In [ ]:
type(t)

tuple

In [ ]:
t[0]

1

In [ ]:
t[::]

(1, 2, 'apple')

In [ ]:
t[::-1]

('apple', 2, 1)

In [ ]:
t[2]=10

TypeError: 'tuple' object does not support item assignment

In [ ]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

In [ ]:
mydataset

{'cars': ['BMW', 'Volvo', 'Ford'], 'passings': [3, 7, 2]}

In [ ]:
mydataset['cars']

['BMW', 'Volvo', 'Ford']

In [ ]:
mydataset.get('passings')

[3, 7, 2]

In [ ]:
# Empty dictionary
empty_dict = {}

# Dictionary with initial key-value pairs
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

In [ ]:
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
# prompt: add more in the my_dict with Alice, dont replace Alice but add beside it inside the key name

my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Modify the dictionary to include "Alice" in the key name
my_dict["name_Alice"] = my_dict.pop("name")

my_dict