<a href="https://colab.research.google.com/github/kabirNahata/Learning-journey/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# prompt: python dictionary with basic examples

# Creating a dictionary
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Accessing elements
print(my_dict["name"])  # Output: Alice
print(my_dict.get("age")) # Output: 30

# Adding or updating elements
my_dict["occupation"] = "Engineer"
my_dict["age"] = 31
print(my_dict) # Output: {'name': 'Alice', 'age': 31, 'city': 'New York', 'occupation': 'Engineer'}

# Removing elements
del my_dict["city"]
print(my_dict) # Output: {'name': 'Alice', 'age': 31, 'occupation': 'Engineer'}

# Checking for keys
if "name" in my_dict:
    print("Name is present in the dictionary")

# Iterating through the dictionary
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

# Dictionary methods
print(my_dict.keys())    # Output: dict_keys(['name', 'age', 'occupation'])
print(my_dict.values())  # Output: dict_values(['Alice', 31, 'Engineer'])
print(my_dict.items())   # Output: dict_items([('name', 'Alice'), ('age', 31), ('occupation', 'Engineer')])
print(len(my_dict))       # Output: 3

# Creating an empty dictionary
empty_dict = {}
print(empty_dict) # Output: {}

Alice
30
{'name': 'Alice', 'age': 31, 'city': 'New York', 'occupation': 'Engineer'}
{'name': 'Alice', 'age': 31, 'occupation': 'Engineer'}
Name is present in the dictionary
Key: name, Value: Alice
Key: age, Value: 31
Key: occupation, Value: Engineer
dict_keys(['name', 'age', 'occupation'])
dict_values(['Alice', 31, 'Engineer'])
dict_items([('name', 'Alice'), ('age', 31), ('occupation', 'Engineer')])
3
{}

In [2]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

In [3]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [4]:
my_dict.values()

dict_values(['Alice', 30, 'New York'])

In [8]:
my_dict.get('class')

In [9]:
my_dict.get('class'," CLASS")

' CLASS'

In [10]:
my_dict

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [12]:
my_dict.items()

dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])

In [13]:
my_dict.get('city')

'New York'

In [14]:
my_dict["city"]

'New York'

In [15]:
my_dict["class"]="9"

In [16]:
my_dict

{'name': 'Alice', 'age': 30, 'city': 'New York', 'class': '9'}

In [19]:
my_dict[0]="zero"

In [20]:
my_dict

{'name': 'Alice', 'age': 30, 'city': 'New York', 'class': '9', 0: 'zero'}

In [21]:
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: Alice
Key: age, Value: 30
Key: city, Value: New York
Key: class, Value: 9
Key: 0, Value: zero

In [22]:
values = list(my_dict.values())

In [23]:
values

['Alice', 30, 'New York', '9', 'zero']

## tuple

In [24]:
t=(1,2,"apple")

In [25]:
t

(1, 2, 'apple')

In [26]:
type(t)

tuple

In [27]:
t[0]

1

In [28]:
t[::]

(1, 2, 'apple')

In [29]:
t[::-1]

('apple', 2, 1)

In [32]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

In [33]:
mydataset

{'cars': ['BMW', 'Volvo', 'Ford'], 'passings': [3, 7, 2]}

In [34]:
mydataset['cars']

['BMW', 'Volvo', 'Ford']

In [35]:
mydataset.get('passings')

[3, 7, 2]

In [36]:
# Empty dictionary
empty_dict = {}

# Dictionary with initial key-value pairs
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

In [37]:
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [38]:
# prompt: add more in the my_dict with Alice, dont replace Alice but add beside it inside the key name

my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Modify the dictionary to include "Alice" in the key name
my_dict["name_Alice"] = my_dict.pop("name")

my_dict

{'age': 30, 'city': 'New York', 'name_Alice': 'Alice'}